
<form  class="form" [formGroup]="form">
    <p style="font-weight:500;">Search By:</p>
    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>

    <button class="form-button" type="submit" [disabled]="!form.valid" (click)="onSearch()">
        Search
    </button>
    
    <button type="reset" (click)="resetClick()">
        Reset
    </button>

    <button class="form-button" (click)="downloadClicked()">
        Download All Entities
    </button>

    <button class="form-button" (click)="downloadDateClicked()" [disabled]="!dateClicked">
        Download Entites Based On Date
    </button>

    <button *ngIf="submitClicked" class="form-button" (click)="downloadSearchClicked()">
        Download Searched Entities
    </button>
</form>


<div *ngIf="submitClicked" class="table-container">
    <table>
        <thead>
            <tr>
                <th class="title" *ngFor="let title of displayedColumns"> {{title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of entityList">
                <th>{{item.legal_business_name}}</th>
                <th>{{item.duns}}</th>
                <th>{{item.far_dfar_code}}</th>
                <th>{{item.answer_id}}</th>
                <th>{{item.answer_section}}</th>
            </tr>
        </tbody>
    </table>
</div>
