table {
    width: 90%;
    border: 1px solid gray;
  }

  th{
    border: 1px solid gray;
  }

  .title{
    background-color: lightgray;
  }
  .table-container {
    margin-top: 10px;
    max-height: 400px;
    padding-left:10%;
    overflow: auto;
  }